@import url('https://fonts.googleapis.com/css?family=Roboto');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CC4200;
    font-family: 'Roboto', sans-serif;
}

.menu {
    background: #FFF;
    border-radius: 50%;
    bottom: 25px;
    box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 25px;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
    width: 60px;
    z-index: 2;
}

.menu:hover {
    box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
}

.hamburger {
    position: relative;
    top: 29px;
    left: 15px;
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    transform-origin: center;
    transition: .5s ease-in-out;
}

.hamburger:after,
.hamburger:before {
    background: #000;
    content: "";
    display: block;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

input:checked ~ label .hamburger {
    transform: rotate(45deg);
}

input:checked ~ label .hamburger:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked ~ label .hamburger:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked ~ ul {
    opacity: 1;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 2;
}

li a {
    color: #FF5300;
    transition: all 300ms;
    position: relative;
}

li a:before {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 0;
    height: 4px;
    background: #7F4326;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
}

li a:hover:before {
    width: 110%;
}

li a:hover {
    color: #7F2900;
}

a {
    color: #00cec9;
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
}

.logo {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 200px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 20vh;
    text-align: center;
    width: 80%;
    color: white;
}

a.tutorial {
    position: fixed;
    text-align: center;
    color: #fff;
    font-size: 20px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
